* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	margin: auto;
}
h1 {
	font-size: 54px;
}
.navIcon {
	position: absolute;
	left: 45px;
}
.topBar {
	background-color: #FF7F50;
	padding-top: 20px;
	padding-bottom: 20px;
}
.topBarTitle {
	font-family: Arial;
	color: white;
	text-align: center;
}
.navBar {
	position: absolute;
	top: 0;
	visibility: hidden;
}
.navBarList {
	display: inline-block;
	color: white;
	font-family: "Comic Sans MS";
	font-size: 32px;
	text-align: center;
}
.navBarPlaceholder {
	height: 101.6px;
	line-height: 101.6px;
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 10px;
	z-index: 2;
}
.navBarItem {
	background-color: #FF7F50;
	height: 150px;
	line-height: 150px;
	vertical-align: middle;
	margin-top: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.navBarPlaceholder:hover {
	
}
#main{
	background-color: white;
	height: 800px;
	width: auto;
	background-color: black;

	border-radius: 25px;
	border: 2px solid orange;
	padding: 15px;
	margin: 1px 100px 1px 100px;
	background-image: url(http://placehold.it/350x150);
}