* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	margin: auto;
	font-family: "Courier New";
}
.recipeContent {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 30px;
    clear:both;
}
h1 {
	font-size: 36px;
}
.navIcon {
	position: absolute;
	left: 45px;
}
.topBar {
	background-color: orange;
	padding-top: 20px;
	padding-bottom: 20px;
}
.topBarTitle {
	color: white;
	text-align: center;
	letter-spacing: 0.5em;
}
.navBar {
	position: absolute;
	/*top: 0;*/
}
.navBarList {
	display: inline-block;
	color: white;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}
.navBarPlaceholder {
	height: 101.6px;
	line-height: 101.6px;
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 10px;
}
.navBarItem {
	background-color: orange;
	height: 150px;
	line-height: 150px;
	vertical-align: middle;
	margin-top: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.navLink {
	text-decoration: none;
	color: white;
}
.navBarItem:active{
	background-color: #FF7F50;
}
.navBarListAlt {
	text-align: center;
	padding: 10px;
	background-color: black;
	opacity: 0.5;
}
.navBarItemAlt {
	display: inline;
	color: white;
	font-size: 28px;
	padding: 10px 20px;
}
.visible {
	visibility: visible;
}
.hidden {
	visibility: hidden;
}
.recipes {
    font-size: 36px;
    padding-top: 30px;
    padding-left: 400px;
    color:orange;
    font-weight: bold;
}
table {margin: auto;
width: 100%}
td {
    width: 50%;
    vertical-align: top;
    text-align: left;
}
tr {
    vertical-align: top;
}
#pic {
    padding-left:50px;
    padding-top: 40px;
    
}
.Picture { width:100%; height: 400px;}

#title {
    font-size: 30px;
    padding-left: 40px;
    color:orange;
    font-weight:bold;
    padding-top: 35px;
}
#author {
    font-size: 30px;
    padding-left: 40px;
    padding-top: 5px;
    color:orange;
    font-weight:bold;
    
}

#random {
    margin-right: 70px;
    padding-left: 40px;
    padding-top: 10px;
    font-size:18px;
    letter-spacing: 0;
    font-weight:bold;
    color:white;
}
#Star {
    font-size: 70px;
    padding-top: 30px;
    padding-left: 120px;
    color:orange;
}

#left{
    float: left;
    clear: both;
}