.modal-header, h4, .close {
      background-color: black;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
.jae_login{
  letter-spacing: 0;
  }
  .jae_a{
    text-align: right;
  }
  h1{
    font-size: 60px;
  }
