.recipeContent {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 30px;
}

.headingBar {
	color: orange;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.title {
	padding: 0;
}

.firstPicture {
	text-align: center;
	padding: 30px;
}

.topPicture {
	width: 60%;
}

.recipeSubHeading {
	color: orange;
	font-weight: bold;
}

.recipeIngredientList {
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 18px;
	margin-bottom: 20px;
}

.recipeSteps {
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 18px;
	padding: 20px;
}

/*CSS styling for each step images*/
.stepImage {
	float: right;
	padding-bottom: 10px;
}

.recipeTable {
	color: white;
	width: 100%;
	font-size: 18px;
}

.recipeTable td {
	padding-top: 10px;
}

/*underline with orange only on the middle elements*/
.recipeTable tr:not (:last-child ) {
	border-bottom: 1px solid orange;
}

/*align all table element to top left corner*/
.alignTop {
	vertical-align: top;
}