<<<<<<<
HEAD /* registration field*/
 =======
	/*Register text input styling*/ >>>>>>>
	e2729bf88c1e15e76f94acc4c74e066a802b50ea
fieldset {
	width: 600px;
	border: 1px ridge #000000;
	padding: 50px;
	margin-bottom: 10px;
	margin-top: 40px;
	font-size: 18px;
	position: relative;
	left: 270px;
}

legend {
	font-size: 36px;
	color: orange;
	font-weight: bold;
  text-align: center;
}

.labeL {
	float: left;
	width: 220px;
	clear: left;
	text-align: right;
	padding-right: 50px;
	margin-top: 5px;
	display: block;
  font-size: 18px;
}

.jae_opc {
	background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
	color: white;
	padding: 5px;
	padding-bottom: 20px;
	letter-spacing: 1px;
}

input, textarea {
	margin-top: 5px;
  width: 60%;
  font-size: 18px;
}

/*Input spaces*/
#myName {
	color: black;
	font-family: Georgia, "Times New Roman", serif;
}

#myEmail {
	color: black;
	font-family: Georgia, "Times New Roman", serif;
}

#myPword {
	color: black;
	font-family: Georgia, "Times New Roman", serif;
}

#myPwordConfirm {
	color: black;
	font-family: Georgia, "Times New Roman", serif;
}

#submiT {
	color: black;
	font-family: Georgia, "Times New Roman", serif;
	width: 100px;
	
	opacity: 1.0;
}

.jae_register {
	width: auto;
}

/* form validation messages */
.error {
	margin-left: 50px;
	margin-bottom: -20px;
	color: red;
	font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
}
