* {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	min-width: 1105px;
}

body {
	font-family: "Courier New", Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 10px;
	margin: 0px;
	background-image: url("../Images/food.jpg");
	background-repeat: no-repeat;
	box-sizing: border-box;
	background-size: cover;
	height: 100%;
}

.myTitle {
	font-family: "Courier New", Arial, sans-serif;
	font-size: 48px;
	font-weight: bold;
}

#container {
	color: black;
	min-width: 960px;
	height: 100%;
	/*min-height: 940px;*/
}

#nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
	background-color: black;
	opacity: 0.5;
}

#nav li {
	float: left;
	letter-spacing: 3px;
}

#nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 14px 20px;
	background-color: transparent;
}

#nav li a:hover {
	background-color: red;
}

#headerContain {
	background-color: white;
	margin: 0px;
	opacity: 0.1;
}

#header {
	text-align: center;
	color: orange;
	font-size: 1.5em;
	text-shadow: 2px 3px 3px black;
	padding: 60px 0;
	background-image: url("../Images/basket.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 220px;
	margin: 30px 0;
}

#mainContain {
	background-color: transparent;
	border-radius: 25px;
	border: 2px solid orange;
	padding: 15px;
	margin: 1px 100px 1px 100px;
}

#main {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	margin-top: 30px;
	padding: 0 20px;
}

#create {
	text-align: center;
	font-size: 30px;
}

#nameLabel {
	letter-spacing: 1px;
}

#name input[type=text] {
	width: 50%;
	border: 1px solid black;
	border-radius: 25px;
	font-size: 18px;
}

#uploadLabel {
	letter-spacing: 1px;
}

#placeholder {
	display: inline-block;
	width: 100%;
	display: center;
}

#placeholder input[type=file] { /*float: right;*/
	display: inline-block;
	color: transparent;
	padding: 0;
}

#myPicture {
	padding: 0;
}

#description {
	padding: 0;
}

.describe {
	resize: none;
	width: 100%;
	height: 100px;
	border: 1px solid black;
	border-radius: 25px;
	padding: 10px;
	font-size: 18px;
	font-weight: 100;
	/*float: right;*/
}

#ingredient {
	letter-spacing: 1px;
}

#info {
	padding: 0;
	margin: 0;
}

#info input[type=text] {
	width: 100%;
	height: 170px;
	border: 1px solid black;
	border-radius: 25px;
}

.ingText {
	resize: none;
	width: 100%;
	height: 170px;
	border: 1px solid black;
	border-radius: 25px;
	padding: 8px 0 8px 5px;
	font-size: 18px;
	font-weight: 100;
}

#stepLabel {
	letter-spacing: 1px;
}


.direction {
	resize: none;
	width: 100%;
	border: 1px solid black;
	border-radius: 25px;
	padding: 8px 0 8px 5px;
	font-size: 18px;
	font-weight: 100;
}

#add {
	text-align: center;
}

#submit input[type=submit] {
	width: 80px;
	height: 25px;
	margin-left: 90%;
	font-size: 16px;
	margin-bottom: 20px;
}

#footer {
	text-align: center;
	padding: 1px;
}

.unbold {
	font-weight: 500;
}