/* Overall frame */
#contentBox {
	margin: 30px 0 120px 0;
}

/* The outside frame for box */
.box {
	padding: 40px 40px;
	font-size: 46px;
	color: black;
	background-color: white;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The Main headings */
.myTitle {
	color: black;
	text-align: center;
	font-size: 46px;
}

/* The subheadings */
h3 {
	color: orange;
}

/* Stretches image to full */
html {
	box-sizing: border-box
}

body {
	box-sizing: border-box
}

#star{color:orange;}

.myRecipe {
	width: auto;
}

.recipeTable {
	width: 100%;
	background-color: white;
}

.recipeTable a {
	text-decoration: none;
	color: orange;
}

.recipeTable td {
	color: black;
	font-weight: bold;
	box-sizing: border-box;
}

.recipeTable tr:not(:nth-of-type(1)) .recipeTitle {
	padding-top: 50px;
}

.recipeTable tr:not(:nth-of-type(1)) .recipeAuthor {
	padding-top: 50px;
}

.recipeTable tr:not(:nth-of-type(1)) .recipeRating {
	padding-top: 50px;
	text-align: right;
}

.recipeAuthor {
	text-align: center;
	vertical-align: top;
}

.recipeTitle {
	text-align: left;
	vertical-align: top;
}

.recipeRating {
	text-align: right;
	vertical-align: middle;
}

.recipePicture {
	height: 350px;
	overflow: hidden;
}

.front {
	background-size: cover;
	height: 350px;
	width: auto;
	overflow: hidden;
}

.back {
	display: none;
	overflow: hidden;
	color: black;
	background-color: white;
	font-weight: normal;
	padding-top: 20px;
	height: 350px;
	width: auto;
}

.back p {
	padding: 20px;
}