* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	margin: auto;
	font-family: "Courier New";
}
h1 {
	font-size: 54px;
}
.navIcon {
	position: absolute;
	left: 45px;
}
.topBar {
	background-color: orange;
	padding-top: 20px;
	padding-bottom: 20px;
}
.topBarTitle {
	color: white;
	text-align: center;
	letter-spacing: 0.5em;
}
.navBar {
	position: absolute;
	/*top: 0;*/
}
.navBarList {
	display: inline-block;
	color: white;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}
.navBarPlaceholder {
	height: 101.6px;
	line-height: 101.6px;
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 10px;
}
.navBarItem {
	background-color: orange;
	height: 150px;
	line-height: 150px;
	vertical-align: middle;
	margin-top: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.navLink {
	text-decoration: none;
	color: white;
}
.navBarItem:active{
	background-color: #FF7F50;
}
.navBarListAlt {
	text-align: center;
	padding: 10px;
	background-color: black;
	opacity: 0.5;
}
.navBarItemAlt {
	display: inline;
	color: white;
	font-size: 28px;
	padding: 10px 20px;
}
.visible {
	visibility: visible;
}
.hidden {
	visibility: hidden;
}