h2 {color:white;
text-align:center;
font-weight:bold;}

#name, #password, #cPassword, #email{width:400px;
height: 80px;

}

label{color:white;
}

.field{text-align:center;}

.field2{text-align:center;}

.field3{text-align:center;}

.field4{text-align:center;}

#submit0{width:300px;
height:100px;
background-color:orange;
border: 1px solid black;
font-size:30px;}

.labeL {
    float:left;
	margin-left:100px;
	width: 220px;
    clear: left;
    text-align: right;
    padding-right: 50px;
    margin-top: 10px;
    display: block;}



.formBox{
text-align:center;}
.jae_1{
text-align: center;
color: white;}

.error{
  color: red;
}
